<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conexion" connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD1C2014;User Id=gd;Password=gd2014;Trusted_Connection=False"></add>
  </connectionStrings>

  <appSettings>
    <add key="fechaSistema" value="13/11/2012"></add>
  </appSettings>

  
</configuration>



